.container {
    //height: clamp(500px, 60vw, 925px);
    background: var(--gradient-to-top);
    position: relative;
     > *:not(.bottomWave, .topWave) {
      margin-left: var(--side-margin);
      margin-right: var(--side-margin);
    }
  }
  
  .bottomWave {
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100vw;
    height: auto; 
    object-fit: fill;
  }

  .topWave {
    position: absolute;
    top: -1px;
    transform: rotate(180deg);
    left: 0px;
    width: 100vw;
    height: auto; 
    object-fit: fill;
  }

  .plainText{
    text-align: center;
    color: var(--color-neutral-gray);
    font-size: var(--font-size-22);
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    p{
      max-width: 50vw;
    }
  }

  .titleText {
    padding-top: clamp(70px, 15vw, 345px);
    font-family: var(--bold-font);
    color: var(--color-primary);
    font-size: var(--font-size-35);
    text-transform: uppercase;
    text-align: center;
    
  }

  .slider{
    padding-bottom: clamp(70px, 15vw, 345px);
  }