.button{
    border:none;
    font-weight: 800;
    font-size: var(--font-size-35);
    color: var(--color-secondary);
    background: none; 
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-in-out;
    color: white;

    &:hover{
      transform: scale(1.05);
    }
    &:active{
      transform: scale(0.9);
    }
}