@import '@mixins/_breakpoints.scss';

@keyframes fadeDownIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.container{
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0px;
  right: 0px;
}

.fixed{
  position: fixed;
  background-color: var(--color-accent-blue);
  animation: fadeDownIn 0.3s ease-out forwards;
}

.absolute{
  position: absolute;
}

.logoBlock{
  margin-top: auto;
  display: flex;
  gap: 10px
}

.logoImage{
 width: 47px;
 height: 47px;
}

.logoText{
  margin-top: auto;
  margin-bottom: 10px;
  font-size: var(--font-size-30);
}

.navBlockDesktop{
  display: flex;
  margin-top: auto;
  gap: var(--gap-size-60);

  @include media(md) { 
    display: none!important;
  }
}

.navBlockMobile{
  display: none;
  margin-top: auto;
  gap: var(--gap-size-35);

  @include media(md) { 
    display: flex!important;
  }
}

.mobileNavItems{
  text-align: right;
  position: absolute;
  flex-direction: column;
  background-color: var(--color-accent-blue);
  top: 100%;
  right: 0px;
  gap: 10px;
  display: flex;

  padding-left: calc( var(--side-margin) + 10px);
  padding-right: calc( var(--side-margin) + 10px);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 0px 20%;

  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.3s ease-out;
}

.showNav {
  max-height: 300px;
  opacity: 1;
}

.hideNav {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.navItem{
  margin-top: auto;
  margin-bottom: 10px;
  font-size: var(--font-size-20);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  
  &:hover{
    transform: scale(1.05);
  }
  &:active{
    transform: scale(0.9);
  }
}

.phoneImage{
  width: 19px;
  height: 21px;
  margin-right: 5px;
}

.controlButtonContainer{
  display: flex;
  padding-right: var(--side-margin);
  @include media(md) { 
    padding-right: 0px;
  }
}


.bagImage{
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
}

.accountImage{
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
}

a{
  font-family: var(--regular-font);
  color: var(--color-primary);
  text-decoration: none;
}

.orderButton{
  user-select: none;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.2s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
  &:active{
    transform: scale(0.9);
  }

  div{
    background-color: var(--color-accent-blue);
    border-radius: 50%;
    font-family: var(--regular-font);
    color: var(--color-primary);
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 1px;
  }
}

.accountButton{
  user-select: none;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.2s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
  &:active{
    transform: scale(0.9);
  }
}