@import '@mixins/_breakpoints.scss';

.container {
  height: 925px;
  background: var(--gradient-to-bottom);
  position: relative;
  *:not(.bottomWave) {
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
     @include media(lg) { 
       margin-right: var(--side-margin);
     }
  }
  
}

.welcomeText {
  font-family: var(--bold-font);
  font-size: var(--font-size-biggest);
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}

.bottomWave {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: auto; 
  object-fit: fill;
}