@import-normalize;
@import './_breakpoints.scss';


@font-face {
  font-family: CormorantGaramond-Bold;
  src: url(./assets/fonts/CormorantGaramond-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(./assets/fonts/OpenSans-Regular.ttf);
}



:root {
  --text-size-small: 16px;
  --text-size-medium: 18px;
  --text-size-large: 24px;
  --text-size-extra-large: 42px;
  --text-size-huge-mobil: 80px;
  --text-size-huge: 100px;
  --text-size-extra-huge-mobil: 120px;
  --text-size-extra-huge: 226.45px;

  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-accent-pink: #fbc2eb;
  --color-neutral-gray: #656464;
  --color-accent-blue: #a6c1ee;

  --gradient-to-bottom: linear-gradient(
    to bottom,
    var(--color-accent-blue),
    var(--color-accent-pink)
  );
  --gradient-to-top: linear-gradient(
    to top,
    var(--color-accent-blue),
    var(--color-accent-pink)
  );

  --regular-font: OpenSans-Regular;
  --bold-font: CormorantGaramond-Bold;

  --shadow: rgba(149, 157, 165, 0.2) 0 0 24px;
}

body {
  margin: 0;
  font-family: var(--regular-font);
  color: var(--color-primary);
}
